<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MLDSData.Properties.Settings.MLDSConnectionString"
      connectionString="Data Source=Shenjunyu;Initial Catalog=JTZH-MLDS;Persist Security Info=True;User ID=sa;Password=111111"
      providerName="System.Data.SqlClient" />
    <add name="MLDSData.Properties.Settings.JTZH_MLDSConnectionString"
      connectionString="Data Source=SHENJUNYU;Initial Catalog=JTZH-MLDS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>